In [14]:
import pandas as pd
import numpy as np
import os
from keras.preprocessing.text import Tokenizer, text_to_word_sequence
from keras.utils import to_categorical
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Embedding,LSTM,Dense
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.manifold import TSNE
from gensim.models import word2vec
from nltk import word_tokenize
from nltk.corpus import stopwords

In [15]:
data = pd.read_csv('train_tweets.csv.csv')

In [16]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [17]:
data = data.drop('id', axis=1)

In [18]:
data

       label                                              tweet
0          0   @user when a father is dysfunctional and is s...
1          0  @user @user thanks for #lyft credit i can't us...
2          0                                bihday your majesty
3          0  #model   i love u take with u all the time in ...
4          0             factsguide: society now    #motivation
5          0  [2/2] huge fan fare and big talking before the...
6          0   @user camping tomorrow @user @user @user @use...
7          0  the next school year is the year for exams.ð...
8          0  we won!!! love the land!!! #allin #cavs #champ...
9          0   @user @user welcome here !  i'm   it's so #gr...
10         0   â #ireland consumer price index (mom) climb...
11         0  we are so selfish. #orlando #standwithorlando ...
12         0  i get to see my daddy today!!   #80days #getti...
13         1  @user #cnn calls #michigan middle school 'buil...
14         1  no comment!  in #australia   #opkillingbay #se...
15         0  ouch...junior is angryð#got7 #junior #yugyo...
16         0  i am thankful for having a paner. #thankful #p...
17         1                             retweet if you agree!
18         0  its #friday! ð smiles all around via ig use...
19         0  as we all know, essential oils are not made of...
20         0  #euro2016 people blaming ha for conceded goal ...
21         0  sad little dude..   #badday #coneofshame #cats...
22         0  product of the day: happy man #wine tool  who'...
23         1    @user @user lumpy says i am a . prove it lumpy.
24         0   @user #tgif   #ff to my #gamedev #indiedev #i...
25         0  beautiful sign by vendor 80 for $45.00!! #upsi...
26         0   @user all #smiles when #media is   !! ðð...
27         0  we had a great panel on the mediatization of t...
28         0        happy father's day @user ðððð
29         0  50 people went to nightclub to have a good nig...
...      ...                                                ...
31932      0                               @user thanks gemma
31933      1  @user judd is a  &amp; #homophobic #freemilo #...
31934      1  lady banned from kentucky mall. @user  #jcpenn...
31935      0  ugh i'm trying to enjoy my happy hour drink &a...
31936      0  want to know how to live a   life? do more thi...
31937      0                                 love island ð
31938      0  my fav actor #vijaysethupathi ! my fav actress...
31939      0      whew  ð
 it's a productive and   #friday!!!
31940      0                 @user she's finally here! @user
31941      0  passed first year of uni #yay #love #pass #uni...
31942      0  this week is flying by   #humpday - #wednesday...
31943      0   @user modeling photoshoot this friday yay #mo...
31944      0  you're surrounded by people who love you (even...
31945      0  feel like... ðð¶ð #dog #summer #hot #h...
31946      1  @user omfg i'm offended! i'm a  mailbox and i'...
31947      1  @user @user you don't have the balls to hashta...
31948      1   makes you ask yourself, who am i? then am i a...
31949      0  hear one of my new songs! don't go - katie ell...
31950      0   @user you can try to 'tail' us to stop, 'butt...
31951      0  i've just posted a new blog: #secondlife #lone...
31952      0                @user you went too far with @user
31953      0  good morning #instagram #shower #water #berlin...
31954      0  #holiday   bull up: you will dominate your bul...
31955      0  less than 2 weeks ð
ðð¼ð¹ððµ @us...
31956      0  off fishing tomorrow @user carnt wait first ti...
31957      0  ate @user isz that youuu?ðððððð...
31958      0    to see nina turner on the airwaves trying to...
31959      0  listening to sad songs on a monday morning otw...
31960      1  @user #sikh #temple vandalised in in #calgary,...
31961      0                   thank you @user for you follow

[31962 rows x 2 columns]

In [6]:
data.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [19]:
X = data['tweet']
Y = data['label']
Y = to_categorical(num_classes=2, y=Y)

In [20]:
tok = Tokenizer(lower=True, num_words=10000)

In [21]:
tok.fit_on_texts(X)
seqs = tok.texts_to_sequences(X)
X = pad_sequences(seqs, maxlen=100)

In [22]:
def createLSTM():
    model = Sequential()
    model.add(Embedding(10000, 100))
    model.add(LSTM(256))
    model.add(Dense(100, activation='sigmoid'))
    model.add(Dense(2, activation='sigmoid'))
    return model

In [23]:
model = createLSTM()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, None, 100)         1000000
_________________________________________________________________
lstm_2 (LSTM)                (None, 256)               365568
_________________________________________________________________
dense_3 (Dense)              (None, 100)               25700
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 202
=================================================================
Total params: 1,391,470
Trainable params: 1,391,470
Non-trainable params: 0
_________________________________________________________________

In [24]:
X_train, X_validate, Y_train, Y_validate=train_test_split(X, Y, test_size=0.15, random_state=43)

In [25]:
np.shape(X_train), np.shape(Y_train)

((27167, 100), (27167, 2))

In [26]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
model.fit(X_train, Y_train, batch_size=32, epochs=3, verbose=1)

Epoch 1/3
27167/27167 [==============================] - 493s 18ms/step - loss: 0.1826 - acc: 0.9425
Epoch 2/3
 1216/27167 [>.............................] - ETA: 7:47 - loss: 0.0968 - acc: 0.9679

KeyboardInterrupt:

In [27]:
model.save('my_model.h5')

In [27]:
model.evaluate(X_validate, Y_validate)[0]*100

4795/4795 [==============================] - 23s 5ms/step

15.921710404539258

In [69]:
test = pd.read_csv('test_tweets.csv.csv')

In [70]:
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [71]:
test_new = test.drop('id', axis=1)

In [72]:
test_new.head()

                                               tweet
0  #studiolife #aislife #requires #passion #dedic...
1   @user #white #supremacists want everyone to s...
2  safe ways to heal your #acne!!    #altwaystohe...
3  is the hp and the cursed child book up for res...
4    3rd #bihday to my amazing, hilarious #nephew...

In [73]:
test_sequence = pad_sequences(tok.texts_to_sequences(test_new), maxlen=100)

In [74]:
test_new.head()

                                               tweet
0  #studiolife #aislife #requires #passion #dedic...
1   @user #white #supremacists want everyone to s...
2  safe ways to heal your #acne!!    #altwaystohe...
3  is the hp and the cursed child book up for res...
4    3rd #bihday to my amazing, hilarious #nephew...

In [75]:
test = pad_sequences(tok.texts_to_sequences(test_sequence), maxlen=100)

AttributeError: 'numpy.ndarray' object has no attribute 'lower'

In [76]:
pred = model.predict(test_sequence)

In [77]:
prob = model.predict_proba(test_sequence)

In [80]:
print(pred[4])

IndexError: index 4 is out of bounds for axis 0 with size 1

In [79]:
print(pred[0][0])

0.909921

In [38]:
print(pred[1])

IndexError: index 1 is out of bounds for axis 0 with size 1

In [39]:
print(pred)

[[0.6380771  0.37021053]]